<div class="article_form_wrapper">
  <ol class="breadcrumb">
    <%= render_breadcrumbs :tag => :li, :separator => "" %>
  </ol>
  <%= simple_form_for [:manage, @issue, @article], html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
    <%= f.input :title %>
    <%= f.input :article_type %>
    <%= f.input :annotation %>
    <%= f.input :content %>
    <%= f.button :submit, class: "pull-right" %>
    <%= link_to "Удалить", manage_issue_article_path(@issue, @article), method: :delete, data: {confirm: "Вы уверены?"} unless @article.new_record? %>
  <% end %>
</div>
