<%= link_to "Добавить роль", new_manage_permission_path, class: "btn btn-primary pull-right new_permission_button"%>
<div class="permission_wrapper">
  <% if @permissions.any? %>
    <h3>Управление правами</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <th>ФИО пользователя</th>
        <th>Роль</th>
        <th>e-mail</th>
        <th></th>
      </thead>
      <% @permissions.each do |permission| %>
        <tr>
          <td> <%= permission.user %> </td>
          <td> <%= permission.role_text %> </td>
          <td> <%= mail_to permission.user.email %> </td>
          <td> <%= link_to "Удалить", manage_permission_path(permission), :method => :delete, :data => { :confirm => 'Вы увурены?'  } %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <p>Информация отсутствует</p>
  <% end %>
</div>
