<div class="issues_wrapper">
  <div class="col-xs-3 navigation">
    <ul class="nav nav-pills nav-stacked outer_list">
      <% @issues.each do |key, value| %>
        <li class="js-toggle-inner-list <%= show_inner_list?(value, @issue) ? "opened" : "closed" %>">
          <%= link_to "#" do %>
            <span class="glyphicon <%= show_inner_list?(value, @issue) ? "glyphicon-minus" : "glyphicon-plus" %>" aria-hidden="true"></span>
            <span><%= key %></span>
          <% end %>
          <ul class="nav nav-pills nav-stacked inner_list <%= show_inner_list?(value, @issue)? "show": "hidden" %>">
            <% value.each do |issue| %>
              <%= content_tag :li, class: issue == @issue ? 'active' : nil do %>
                <%= link_to issue_title(issue) , manage_issue_path(issue) %>
              <% end %>
            <% end %>
          </ul>
        </li>
      <% end %>
      <%= link_to new_manage_issue_path, class: "btn btn-primary new_issue_button pull-right"  do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span>Добавить выпуск</span>
      <% end %>
    </ul>
  </div>
  <div class="col-xs-9 content">
    <div class="btn-group pull-right button_wrapper" role="group">
      <% if @issue.published? %>
        <%= link_to "В черновик", manage_issue_path(@issue, issue: {state: :draft}), method: :put, class: "btn btn-danger" %>
      <% else %>
        <%= link_to "Опубликовать", manage_issue_path(@issue, issue: {state: :published}), method: :put, class: "btn btn-success" %>
      <% end %>

      <%= link_to "Изменить", edit_manage_issue_path(@issue), class: "btn btn-warning" %>
      <%= link_to new_manage_issue_article_path(@issue), class: "btn btn-primary"  do %>
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        <span>Добавить новость</span>
      <% end %>
    </div>
    <div class="row articles_wrapper">
      <% if @issue.articles_collection.present?  %>
        <% if @issue.articles_collection["issue_theme"].present? %>
          <div class="col-xs-4">
            <div class="issue_theme">
              <p> <%= @issue.articles_collection["issue_theme"].title %> </p>
              <p> <%= @issue.articles_collection["issue_theme"].annotation.truncate(350).html_safe %> </p>
              <%= render :partial => 'manage_links', locals: {article_type: @issue.articles_collection["issue_theme"]} %>
            </div>
          </div>
        <% end %>
        <% if @issue.articles_collection["regular"].present? %>
          <% @issue.articles_collection["regular"].each do |article| %>
            <div class="col-xs-4">
              <div class="regular">
                <p> <%= article.title %> </p>
                <p> <%= article.annotation.truncate(150).html_safe %> </p>
                <%= render :partial => 'manage_links', locals: {article_type: article}%>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if @issue.articles_collection["news"].present? %>
          <div class="col-xs-12">
            <h3>Новости выпуска</h3>
          </div>
          <% @issue.articles_collection["news"].each do |article| %>
            <div class="col-xs-12">
              <div class="news">
                <p> <%= article.title %> </p>
                <p> <%= article.annotation.html_safe %> </p>
                <%= render :partial => 'manage_links', locals: {article_type: article}%>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <h1>Не добавлено ни одной новости в выпуск журнала</h1>
      <% end %>
    </div>
  </div>
</div>

