<!DOCTYPE html>
<html>
<head>
  <title>Radioelectronik</title>
  <%= stylesheet_link_tag    'manage/application', media: 'all' %>
  <%= javascript_include_tag 'manage/application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'navigation' %>
  <div class="container">
    <div class="row manage-wrapper">
      <% if flash[:notice] %>
        <div class="alert alert-warning alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= flash[:notice] %>
        </div>
       <% end %>
      <%= yield %>
    </div>
  </div>
</body>
</html>
